---
import type { ProjectMetadata } from "../../../lib/utils";
import ProjectPreview from "../ProjectPreview.astro";

type Props = {
  p: ProjectMetadata;
  index: number;
};
const { p, index } = Astro.props;
---

<li class="postGrid">
  <ProjectPreview project={p} index={index} />
</li>
