---
import { getProjects } from "~/lib/utils";
import { t } from "~/shared/i18n/fn";
import ProjectListItem from "./ProjectListItem.astro";
const l = Astro.currentLocale;

type Props = {
  limit?: number;
};
const { limit } = Astro.props;
const projects = getProjects(limit);
---

<section class="flex flex-col gap-12" id="portafolio">
  <header class="flex flex-col gap-4">
    <h2 class="text-xl md:text-3xl font-bold">
      {t(l, "highlighted_projects")}
    </h2>
  </header>

  <ul class="flex flex-col gap-20 max-w-7xl">
    {projects.map((p) => <ProjectListItem p={p} />)}
  </ul>
</section>
