---
import LanguageSelector from "~/shared/language-selector.astro";
import ThemeToggle from "~/shared/ui/theme/theme-toggle";
const lang = Astro.currentLocale;
---

<header
  class="z-40 fixed top-0 w-full items-center flex justify-between py-4 md:py-6 px-6 md:px-10 delayed-appearing"
>
  <div>
    <strong
      class="font-black text-2xl px-2 rounded-full bg-background/40 backdrop-blur-lg"
      >tactil.</strong
    >
  </div>
  <div
    class="flex gap-2 items-center px-1 rounded-full bg-background/40 backdrop-blur-lg py-1"
  >
    <ThemeToggle client:load />
    <LanguageSelector />
  </div>
</header>
