---
import MansoryGrid from "../../components/experiments/MansoryGrid.astro";
import MainLayout from "../../layouts/MainLayout.astro";
---

<MainLayout>
  <h1
    class="mb-8 text-pretty text-center font-medium text-xl md:text-start md:font-semibold md:text-2xl"
  >
    UI Concepts ✨
  </h1>
  <MansoryGrid />
</MainLayout>
