---
/**
 * Section Component - Primitive UI component for page sections
 */

import { sectionStyles } from "./styles";

type Props = {
	id?: string;
	class?: string;
	// biome-ignore lint/suspicious/noExplicitAny: Allow other HTML attributes
	[key: string]: any;
};

const { id, class: className = "", ...rest } = Astro.props;

const finalClasses = [sectionStyles, className].filter(Boolean).join(" ");
---

<section id={id} class={finalClasses} {...rest}>
	<slot />
</section>
