---
/* width: 579.24px; */
/* height: 1001.47px; */
---

<style>
  .ticket {
    height: 1003px;
    aspect-ratio: 579 / 1003;

    width: calc(4635px / 8);
    object-fit: none;
    object-position: 0% 0%;
    transition: none;

    animation: burn steps(7) forwards;
    view-timeline-name: --burning-ticket;
    animation-timeline: --burning-ticket;
    animation-range: 20% cover 80%;

    @media screen and (max-width: 600px) {
      width: 90vw;
    }
  }

  @keyframes burn {
    from {
      object-position: 0% 0%;
    }
    90% {
      opacity: 1;
    }
    to {
      object-position: 100% 0%;
      /* opacity: 0; */
    }
  }
</style>

<section
  class="flex flex-col gap-10 max-w-5xl items-center text-center px-6 sm:px-16 xl:px-20 w-full"
>
  <header class="flex flex-col h-fit gap-4">
    <p class="text-2xl md:text-4xl font-black">
      Building a great site <strong>is hard</strong>.
    </p>
    <h2>
      Burning money and time on <strong>websites that don't work</strong>
      is harder.
    </h2>
  </header>

  <!-- <div class="ticket-wrapper"> -->
  <!-- <Image src={sprite} alt="Ticket burning" class="ticket" /> -->

  <div
    id="ticket"
    class="border border-neutral-200 flex flex-col gap-10 px-6 py-10 shadow-lg
  w-full max-w-md text-left"
  >
    <header class="text-center">
      <h3 class="border-y border-dashed py-2">Your current web receipt</h3>
    </header>

    <ul class="grid cols-2 gap-3">
      <li class="flex justify-between">
        <span>Overpriced WordPress theme</span>
        <span>€99</span>
      </li>
      <li class="flex justify-between">
        <span>Template that doesn't fit your brand</span>
        <span>€199</span>
      </li>
      <li class="flex justify-between">
        <span>SEO plugin that doesn't work</span>
        <span>€49</span>
      </li>
      <li class="flex justify-between">
        <span>Opaque hosting provider</span>
        <span>€79</span>
      </li>
      <li class="flex justify-between">
        <span>Unclear maintenance costs</span>
        <span>€49/month</span>
      </li>
      <li class="flex justify-between">
        <span>Plugin to make it work</span>
        <span>€29</span>
      </li>
      <li class="flex justify-between">
        <span>Freelancer to fix everything</span>
        <span>€299</span>
      </li>
      <li class="flex justify-between">
        <span>Other plugin to fix it (again)</span>
        <span>€29</span>
      </li>
      <li class="flex justify-between">
        <span>Time lost</span>
        <span>too much</span>
      </li>

      <li class="flex justify-between border-y border-dashed py-2">
        <span class="font-bold">Total</span>
        <span class="font-bold"> ⌛💸📉 </span>
      </li>
    </ul>

    <footer class="text-center">
      <p class="text-sm text-gray-500">
        Agencies try to sell you a website without any strategy, customization,
        or understanding of your business. They just provide some repetitive
        template and forget about
        <strong>functionality</strong>.
      </p>
    </footer>

    <ul class="flex justify-center h-16">
      <li class="bg-black w-2"></li>
      <li class="w-1"></li>
      <li class="bg-black w-1"></li>
      <li class="w-2"></li>
      <li class="bg-black w-1"></li>
      <li class="w-1"></li>
      <li class="bg-black w-2"></li>
      <li class="w-3"></li>
      <li class="bg-black w-1"></li>
      <li class="w-2"></li>
      <li class="bg-black w-2"></li>
      <li class="w-4"></li>
      <li class="bg-black w-4"></li>
      <li class="w-1"></li>
      <li class="bg-black w-1"></li>
      <li class="w-3"></li>
      <li class="bg-black w-2"></li>
      <li class="w-1"></li>
      <li class="bg-black w-1"></li>
      <li class="w-2"></li>
      <li class="bg-black w-1"></li>
    </ul>
  </div>
  <strong class="text-xl text-pretty md:text-2xl"
    >Identified? That's where we step in.</strong
  >
</section>

<style>
  section {
    view-timeline-name: --ticket-section;
    view-timeline-axis: block;
  }

  @keyframes ticket-movement {
    from {
       opacity: 0.8;
      scale: 0.8;
    }

    50% {
      transform: scaleY(1);
      opacity: 1;
      scale: 1;
    }

    to {
       opacity: 0.8;
      scale: 0.8;
    }
  }
  #ticket {
    /* Attach animation, linked to the  View Timeline */
    animation-name: ticket-movement;
    animation-timeline: --ticket-section;
    animation-range: entry 0% exit 100%;

    /* Tweak range when effect should run*/
    /* only on exit */
    /* animation-range: cover 25% cover 40%; */
    /* @media screen and (min-width: 640px) {
      animation-range: cover 20% cover 35%;
    } */
  }
</style>
