---
import { t } from "~/i18n/translations/fn";
import { T } from "~/i18n/translations/types";
import { ticketData } from "./ticketData";
import TicketItem from "./TicketItem.astro";
const l = Astro.currentLocale;
---

<section
  class="flex flex-col gap-10 max-w-5xl items-center text-center xl:px-20 w-full"
>
  <header class="flex flex-col h-fit gap-4 text-pretty">
    <p class="text-2xl md:text-4xl font-black" set:html={t(l, T.ticketTitle)} />
    <h2 class="text-[0.8em] md:text-lg" set:html={t(l, T.ticketSubtitle)} />
  </header>

  <div
    id="ticket"
    class="border border-neutral-200 flex flex-col gap-10 px-6 py-10 shadow-lg
  w-full max-w-md text-left"
  >
    <header class="text-center">
      <h3 class="border-y border-dashed py-2">Your current web receipt</h3>
    </header>

    <ul class="grid cols-2 gap-3">
      {
        ticketData.map((ticket) => (
          <TicketItem name={ticket.name} price={ticket.price} />
        ))
      }

      <li class="flex justify-between border-y border-dashed py-2">
        <span class="font-bold">Total</span>
        <span class="font-bold"> ⌛💸📉 </span>
      </li>
    </ul>

    <footer class="text-center">
      <p class="text-sm text-gray-500">
        Agencies try to sell you a website without any strategy, customization,
        or understanding of your business. They just provide some repetitive
        template and forget about
        <strong>functionality</strong>.
      </p>
    </footer>

    <ul class="flex justify-center h-16">
      <li class="bg-black w-2"></li>
      <li class="w-1"></li>
      <li class="bg-black w-1"></li>
      <li class="w-2"></li>
      <li class="bg-black w-1"></li>
      <li class="w-1"></li>
      <li class="bg-black w-2"></li>
      <li class="w-3"></li>
      <li class="bg-black w-1"></li>
      <li class="w-2"></li>
      <li class="bg-black w-2"></li>
      <li class="w-4"></li>
      <li class="bg-black w-4"></li>
      <li class="w-1"></li>
      <li class="bg-black w-1"></li>
      <li class="w-3"></li>
      <li class="bg-black w-2"></li>
      <li class="w-1"></li>
      <li class="bg-black w-1"></li>
      <li class="w-2"></li>
      <li class="bg-black w-1"></li>
    </ul>
  </div>
  <strong
    class="text-xl text-pretty md:text-2xl"
    set:html={t(l, T.ticketFooter)}
  />
</section>

<style>
  section {
    view-timeline-name: --ticket-section;
    view-timeline-axis: block;
  }

  @keyframes ticket-movement {
    from {
      opacity: 0.8;
      scale: 0.8;
    }

    50% {
      transform: scaleY(1);
      opacity: 1;
      scale: 1;
    }

    to {
      opacity: 0.8;
      scale: 0.8;
    }
  }
  #ticket {
    /* Attach animation, linked to the  View Timeline */
    animation-name: ticket-movement;
    animation-timeline: --ticket-section;
    animation-range: entry 0% exit 100%;

    /* Tweak range when effect should run*/
    /* only on exit */
    /* animation-range: cover 25% cover 40%; */
    /* @media screen and (min-width: 640px) {
      animation-range: cover 20% cover 35%;
    } */
  }
</style>
