---
import { t } from "~/i18n/translations/fn";
import type { TranslationKey } from "~/i18n/translations/types";
const l = Astro.currentLocale;

type Pricing = {
  oldPrice?: number;
  price?: number;
  title: TranslationKey;
  description: TranslationKey;
  features: TranslationKey[];
  cta: TranslationKey;
};
const pricingPacks: Pricing[] = [
  {
    oldPrice: 1499,
    price: 699,
    title: "pack_1_title",
    description: "pack_1_description",
    features: [
      "pack_1_feature_1",
      "pack_1_feature_2",
      "pack_1_feature_3",
      "pack_1_feature_4",
      "pack_1_feature_5",
    ],
    cta: "pack_1_cta",
  },
  {
    oldPrice: 799,
    price: 499,
    title: "pack_2_title",
    description: "pack_2_description",
    features: [
      "pack_2_feature_1",
      "pack_2_feature_2",
      "pack_2_feature_3",
      "pack_2_feature_4",
      "pack_2_feature_5",
    ],
    cta: "pack_2_cta",
  },
  {
    title: "pack_3_title",
    description: "pack_3_description",
    features: [
      "pack_3_feature_1",
      "pack_3_feature_2",
      "pack_3_feature_3",
      "pack_3_feature_4",
      "pack_3_feature_5",
    ],
    cta: "pack_3_cta",
  },
];

function urlMaker(title: string) {
  return `/proposal?pricing=${encodeURIComponent(title)}`;
}
---

<section class="flex flex-col gap-8">
  <header class="flex flex-col gap-4">
    <h2 class="text-xl md:text-3xl font-bold">{t(l, "prices")}</h2>
  </header>
  <ul
    class="grid grid-cols-1 gap-4 sm:grid-cols-2 md:grid-cols-3 md:gap-8 font-light"
  >
    {
      pricingPacks.map((pricing) => (
        <li
          class:list={[
            "grid  bg-foreground/5 rounded-lg p-6 last:bg-linear-30 last:bg-gradient-to-r last:from-primary/20 last:to-secondary/10",
            {
              "grid-rows-[auto_1fr_auto]": pricing.oldPrice || pricing.price,
              "grid-rows-[1fr_auto]": !pricing.oldPrice && !pricing.price,
            },
          ]}
        >
          {(pricing.oldPrice || pricing.price) && (
            <header class="flex flex-col pb-4">
              {pricing.oldPrice && (
                <span class="line-through text-sm text-muted-foreground">
                  {pricing.oldPrice}€
                </span>
              )}
              {pricing.price && <span class="text-lg">{pricing.price}€</span>}
            </header>
          )}
          <div class="flex flex-col gap-2 pb-4">
            <h3 class="text-xl">{t(l, pricing.title)}</h3>
            <p class="text-muted-foreground font-thin text-normal text-[1em]">
              {t(l, pricing.description)}
            </p>
            <ul class="flex flex-col list-disc gap-2 pt-5">
              {pricing.features.map((feature) => (
                <li class="flex items-center gap-2 text-sm">
                  <span>&#10003;</span>
                  <span>{t(l, feature)}</span>
                </li>
              ))}
            </ul>
          </div>
          <footer class="flex gap-2 items-center">
            <a
              href={urlMaker(pricing.title)}
              class="w-fit rounded-full bg-primary px-4 py-2 text-foreground font-semibold hover:bg-primary-700 transition-colors cursor-pointer"
            >
              {t(l, pricing.cta)}
            </a>
          </footer>
        </li>
      ))
    }
  </ul>
</section>
