@import "tailwindcss";

:root {
  --card-height: 40vw;
  --card-margin: 2vw;
  --card-top-offset: 4em;
}

#sticked-cards {
  /* Make place at bottom, as items will slide to that position*/
  padding-bottom: calc(var(--numCards) * var(--card-top-offset));
  /* Don't include the --card-margin in padding, as that will affect the scroll-timeline*/
  margin-bottom: var(--card-margin);
}

#card_1 {
  --index: 1;
}

#card_2 {
  --index: 2;
}

#card_3 {
  --index: 3;
}

#card_4 {
  --index: 4;
}

.card {
  position: sticky;
  top: 0;
  padding-top: calc(var(--index) * var(--card-top-offset));
}

#sticked-cards {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(var(--numCards), var(--card-height));
  gap: var(--card-margin);
}

.card img {
  @apply rounded-xl aspect-video;
  width: 100%;
  object-fit: cover;
  object-position: top;
  overflow: hidden;
  --index0: calc(var(--index) - 1); /* 0-based index */
  --reverse-index: calc(var(--numCards) - var(--index0)); /* reverse index */
  --reverse-index0: calc(var(--reverse-index) - 1); /* 0-based reverse index */
}

.card {
  --index0: calc(var(--index) - 1); /* 0-based index */
  --reverse-index: calc(var(--numCards) - var(--index0)); /* reverse index */
  --reverse-index0: calc(var(--reverse-index) - 1); /* 0-based reverse index */
}

@keyframes scale {
  from {
    transform: scale(1);
  }
  to {
    transform: scale(calc(1.1 - calc(0.1 * var(--reverse-index))));
  }
}

#cards {
  --numCards: 4;
  view-timeline-name: --cards-element-scrolls-in-body;
}

.card {
  --start-range: calc(var(--index0) / var(--numCards) * 50%);
  --end-range: calc((var(--index)) / var(--numCards) * 100%);

  animation: scale forwards;
  animation-timeline: --cards-element-scrolls-in-body;
  animation-range: exit-crossing var(--start-range) exit-crossing
    var(--end-range);
}
