@import "tailwindcss";
@import "@polgubau/animated";
@plugin "@tailwindcss/typography";

@font-face {
  font-family: "bricolage";
  src: url("../assets/fonts/bricolage.ttf") format("truetype");
  font-weight: 100 900;
  font-style: normal;
  font-optical-sizing: auto;
  font-display: swap;
}

@font-face {
  font-family: "darker";
  src: url("../assets/fonts/darker.ttf") format("truetype");
  font-weight: 400;
  font-optical-sizing: auto;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "darker";
  src: url("../assets/fonts/darker.ttf") format("truetype");
  font-weight: 900;
  font-optical-sizing: auto;
  font-style: bold;
  font-display: swap;
}
@font-face {
  font-family: "darker";
  src: url("../assets/fonts/darker.ttf") format("truetype");
  font-weight: 100;
  font-optical-sizing: auto;
  font-style: thin;
  font-display: swap;
}

/* @custom-variant dark (&:where([data-theme=dark], [data-theme=dark] *)); */

@theme {
  --color-primary-50: #fff5f5;
  --color-primary-100: #ffe3e3;
  --color-primary-200: #ffbdbf;
  --color-primary-300: #ff999a;
  --color-primary-400: #ff5a5f;
  --color-primary-500: #e64f54;
  --color-primary-600: #c94447;
  --color-primary-700: #a2373a;
  --color-primary-800: #7d2a2e;
  --color-primary-900: #5e2022;
  --color-primary-950: #3a1012;


  --color-secondary-50: #f7f7f7;
  --color-secondary-100: #eaeaea;
  --color-secondary-200: #d4d4d4;
  --color-secondary-300: #bcbcbc;
  --color-secondary-400: #a1a1a1;
  --color-secondary-500: #7f7f7f;
  --color-secondary-600: #666666;
  --color-secondary-700: #4d4d4d;
  --color-secondary-800: #333333;
  --color-secondary-900: #121212;
  --color-secondary-950: #202020;
  --font-heading: "bricolage", sans-serif;
  --font-body: "darker", sans-serif;
}

:root {
  scroll-behavior: smooth;
  --background: var(--color-secondary-50);
  --foreground: var(--color-secondary-950);
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --background: var(--color-secondary-950);
    --foreground: var(--color-secondary-50);
  }
} */
@theme inline {
  --color-primary: var(--color-primary-500);
  --color-secondary: var(--color-secondary-500);
  --color-background: var(--background);
  --color-foreground: var(--foreground);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  @apply font-heading;
}

body {
  @apply bg-background text-foreground antialiased font-body;
}

*::selection {
  @apply bg-primary/50 text-primary-900 dark:text-secondary-900;
}

@keyframes grow-progress {
  from {
    transform: scaleX(0);
  }

  to {
    transform: scaleX(1);
  }
}

body {
  timeline-scope: --scroll;
}

main {
  view-timeline: --scroll;
}

strong {
  font-weight: 900;
}

/* project-bar */

#project-bar {
  transform: translateX(-50%) translateY(100%);
  opacity: 0;

  animation-name: slide-up;
  animation-duration: 1s;
  animation-fill-mode: both;
  animation-timing-function: ease-out;

  animation-timeline: --scroll;
  animation-range: contain 200px contain 550px;
}

@keyframes slide-up {
  to {
    transform: translateX(-50%) translateY(0%);
    opacity: 1;
  }
}

/* Progress */
#progress {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 2px;
  background: var(--color-primary);

  transform-origin: 0 50%;
  animation: grow-progress auto linear;
  animation-timeline: scroll();
}

.prose {
  a {
    transition: all;
    @apply decoration-neutral-400 dark:decoration-neutral-600 underline-offset-2 decoration-[0.1em];
  }

  .anchor {
    position: absolute;
    visibility: hidden;
    cursor: pointer;
    width: 80%;
    max-width: 700px;
    margin-left: -1em;
    padding-right: 0.5em;
    text-decoration: none;
    @apply text-neutral-300 dark:text-neutral-700;

    ::after {
      @apply text-neutral-300 dark:text-neutral-700;
      content: "#";
    }
  }

  .anchor:hover {
    visibility: visible;
  }

  *:hover>.anchor {
    visibility: visible;
  }

  pre {
    @apply border border-neutral-800 !bg-neutral-900;
  }

  code {
    @apply text-secondary-800 dark:text-secondary-200 px-1 py-0.5 border border-neutral-100 dark:border-secondary-800 rounded-lg dark:bg-neutral-900 p-0;
    border: initial;
    line-height: 1.5;
  }

  img {
    /* Don't apply styles to next/image */
    @apply m-0;
  }

  h1 {
    @apply font-bold text-xl md:text-3xl;
  }

  h2,
  h3,
  h4 {
    @apply font-semibold text-lg md:text-2xl;
  }

  .tweet a {
    text-decoration: inherit;
    font-weight: inherit;
  }

  .callout>p {
    margin: 0 !important;
  }
}

.prose> :first-child {
  /* Override removing top margin, causing layout shift */
  margin-top: 1.25em !important;
  margin-bottom: 1.25em !important;
}

code[class*="language-"],
pre[class*="language-"] {
  @apply text-neutral-50;
}

pre::-webkit-scrollbar {
  display: none;
}

pre {
  -ms-overflow-style: none;
  /* IE and Edge */
  scrollbar-width: none;
  /* Firefox */
}

/* Remove Safari input shadow on mobile */
input[type="text"],
input[type="email"] {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

table {
  display: block;
  max-width: fit-content;
  overflow-x: auto;
  white-space: nowrap;
}

[data-rehype-pretty-code-fragment] code {
  @apply grid min-w-full break-words rounded-none border-0 bg-transparent p-0 text-sm text-black;
  counter-reset: line;
  box-decoration-break: clone;
}

[data-rehype-pretty-code-fragment] .line {
  @apply py-1;
}

[data-rehype-pretty-code-fragment] [data-line-numbers]>.line::before {
  counter-increment: line;
  content: counter(line);
  display: inline-block;
  width: 1rem;
  margin-right: 1rem;
  text-align: right;
  color: gray;
}

[data-rehype-pretty-code-fragment] .line--highlighted {
  @apply bg-secondary-500/10;

  span {
    @apply relative;
  }
}

[data-rehype-pretty-code-fragment] .word--highlighted {
  @apply rounded-md bg-secondary-500/10 p-1;
}

[data-rehype-pretty-code-title] {
  @apply px-4 py-3 font-mono text-xs font-medium border rounded-t-lg text-neutral-200 border-[#333333] bg-[#1c1c1c];
}

[data-rehype-pretty-code-title]+pre {
  @apply mt-0 rounded-t-none border-t-0;
}

.balance {
  text-wrap: balance;
}

strong {
  @apply font-semibold;
}

@keyframes show {
  from {
    opacity: 0;
    scale: 70%;
  }

  to {
    opacity: 1;
    scale: 100%;
  }
}

.show-animation {
  view-timeline: --image;
  view-timeline-axis: block;
  animation-timeline: --image;
  animation-name: show;
  animation-range: entry 25% cover 50%;
  animation-fill-mode: both;
}

/* three phones part */
@keyframes first-phone {
  from {
    opacity: 0;
    scale: 25%;
    rotate: -20deg;
  }

  to {
    opacity: 1;
    scale: 100%;
    rotate: 12deg;
  }
}

.show-first-phone {
  view-timeline: --phone1;
  view-timeline-axis: block;
  animation-timeline: --phone1;
  animation-name: first-phone;
  animation-range: entry 25% cover 50%;
  animation-fill-mode: both;
}

@keyframes second-phone {
  from {
    opacity: 0;
    scale: 25%;
    rotate: 0deg;
  }

  to {
    opacity: 1;
    scale: 100%;
    rotate: -4deg;
  }
}

.show-second-phone {
  view-timeline: --phone2;
  view-timeline-axis: block;
  animation-timeline: --phone2;
  animation-name: second-phone;
  animation-range: entry 25% cover 70%;
  animation-fill-mode: both;
}

@keyframes third-phone {
  from {
    opacity: 0;
    scale: 25%;
    rotate: 10deg;
  }

  to {
    opacity: 1;
    scale: 100%;
    rotate: -20deg;
  }
}

.show-third-phone {
  view-timeline: --phone2;
  view-timeline-axis: block;
  animation-timeline: --phone2;
  animation-name: third-phone;
  animation-range: entry 25% cover 70%;
  animation-fill-mode: both;
}

@keyframes width-animation {
  from {
    opacity: 0;
    margin-top: 60px;
  }

  to {
    opacity: 1;
    margin-top: 0;
  }
}

.width-animation {
  view-timeline: --width;
  view-timeline-axis: block;
  animation-timeline: --width;
  animation-name: width-animation;
  animation-range: entry cover 30%;
  animation-fill-mode: both;
}

/* animation to enter from left while fading in*/
@keyframes width-animation {
  0% {
    opacity: 0.5;
    padding: 30px 0;
  }

  20% {
    opacity: 1;
    transform: rotateX(0deg);
    padding: 0px 0;
  }

  80% {
    opacity: 1;
    transform: rotateX(0deg);
    padding: 0px 0;
  }

  100% {
    opacity: 0.5;
    padding: 30px 0;
  }
}

/* animation that shows in each Y axis border a width animation where the more external it is, the wider */
.width-animation-both {
  view-timeline: --width-animation;
  view-timeline-axis: block;
  animation-timeline: --width-animation;
  animation-name: width-animation;
  animation-fill-mode: both;
  animation-range: cover 10% cover 100%;
}

@keyframes cascade-animation {
  from {
    opacity: 0;
    scale: 85%;
    /* margin-right: 200px; */
    max-height: 20%;
    border-radius: 40px;
  }

  to {
    opacity: 1;
    scale: 100%;
    /* margin-right: 0px;       */
    max-height: 100%;
    border-radius: 10px;
  }
}

.project-cascade {
  view-timeline: --slight;
  view-timeline-axis: block;
  animation-timeline: --slight;
  animation-name: cascade-animation;
  animation-range: entry 20% cover 50%;
  animation-fill-mode: both;
}