---
import Header from "./header/header.astro";
---

<article
  class="flex flex-col gap-8 px-6 pb-10 min-h-[80vh] font-medium text-xl"
>
  <strong class="opacity-60">Tactil</strong>
  <Header />
  <p class="font-medium text-2xl">
    Estudio de <strong> diseño </strong> y desarrollo <strong> web </strong> a medida,
    centrado en experiencias digitales elegantes, rápidas y escalables.
  </p>
  <p>Si tu marca es única, tu web también debería serlo.</p>

  <div class="flex flex-col gap-2">
    <a
      href="#contact"
      class="hover:bg-primary-700 transition-colors cursor-pointer bg-primary font-semibold rounded-xl p-2 text-2xl text-background select-none text-center"
      >Hablemos</a
    >
    <a
      href="#pricing"
      class="hover:border-primary-700 border transition-colors cursor-pointer text-primary border-primary font-semibold rounded-xl p-2 text-xl text-background select-none text-center"
      >Ver planes</a
    >
  </div>
</article>
