---
import { t } from "~/i18n/translations/fn";
import Header from "./header/header.astro";
const l = Astro.currentLocale;
---

<article class="flex flex-col w-full gap-10 min-h-[60vh] sticky top-60 mt-50">
  <Header />

  <div class="flex flex-col gap-6 delayed-appearing">
    <p class="md:max-w-screen-sm text-pretty" set:html={t(l, "summary")} />
  </div>
</article>
<style>
  article {
    /* Create View Timeline */
    view-timeline-name: --revealing-image;
    view-timeline-axis: block;

    /* Attach animation, linked to the  View Timeline */
    animation: linear opacity-fade both;
    animation-timeline: --revealing-image;

    /* Tweak range when effect should run*/
    /* only on exit */
    animation-range: cover 8% cover 35%;
    @media screen and (min-width: 640px) {
      animation-range: cover 10% cover 30%;
    }
  }
</style>
