---
import { t } from "~/i18n/translations/fn";
import Header from "./header/header.astro";
const l = Astro.currentLocale;
---

<article
  class="flex flex-col gap-10 min-h-[60vh] sticky top-20 max-w-5xl px-6 sm:px-16 xl:px-20 w-full mt-10"
>
  <strong class="pb-10 delayed-appearing">tactil.</strong>
  <Header />

  <div class="flex flex-col gap-6 delayed-appearing">
    <p class="md:max-w-screen-sm" set:html={t(l, "summary")} />

    <div class="gap-2 flex">
      <a
        href="https://forms.gle/J5xpGDUCiVSRS8Pc7"
        target="_blank"
        rel="noopener noreferrer"
        id="contact-button"
        class="group cursor-pointer font-semibold rounded-xl md:text-2xl select-none text-center underline decoration-2 decoration-primary underline-offset-2"
      >
        Let's build something real

        <span
          class="opacity-0 w-0 group-hover:w-4 h-4 translate-x-0 group-hover:translate-x-4 group-hover:opacity-100 transition-all"
        >
          →
        </span>
      </a>
    </div>
  </div>

  <style>
    article {
      /* Create View Timeline */
      view-timeline-name: --revealing-image;
      view-timeline-axis: block;

      /* Attach animation, linked to the  View Timeline */
      animation: linear opacity-fade both;
      animation-timeline: --revealing-image;

      /* Tweak range when effect should run*/
      /* only on exit */
      animation-range: cover 25% cover 40%;
      @media screen and (min-width: 640px) {
        animation-range: cover 20% cover 30%;
      }
    }
  </style>
</article>
