---
import Header from "./header/header.astro";
---

<article class="flex flex-col gap-10 px-6 pb-10 font-medium">
  <strong class="delayed-appearing">Tactil</strong>
  <Header />

  <div class="flex flex-col gap-6 delayed-appearing">
    <p class="md:max-w-screen-sm">
      Estudio de <strong> diseño </strong> y desarrollo <strong> web </strong> a
      medida, centrado en experiencias digitales elegantes, rápidas y escalables.
    </p>

    <div class="gap-2 flex">
      <a
        href="https://forms.gle/J5xpGDUCiVSRS8Pc7"
        target="_blank"
        rel="noopener noreferrer"
        id="contact-button"
        class="group cursor-pointer font-semibold rounded-xl md:text-2xl select-none text-center underline decoration-2 decoration-primary underline-offset-2"
      >
        Pedir presupuesto

        <span
          class="opacity-0 w-0 group-hover:w-4 h-4 translate-x-0 group-hover:translate-x-4 group-hover:opacity-100 transition-all"
        >
          →
        </span>
      </a>
    </div>
  </div>

  <style>
    /* when scroll, it looses opacity */

    @keyframes opacity-fade {
      from {
        opacity: 1;
      }
      to {
        transform: translateY(20px);
        opacity: 0;
        filter: blur(2px);
      }
    }

    .delayed-appearing {
      opacity: 0;
      animation: fade-in 0.5s ease-in-out;
      animation-delay: 2.5s;
      animation-fill-mode: forwards;
    }
    article {
      /* Create View Timeline */
      view-timeline-name: --revealing-image;
      view-timeline-axis: block;

      /* Attach animation, linked to the  View Timeline */
      animation: linear opacity-fade both;
      animation-timeline: --revealing-image;

      /* Tweak range when effect should run*/
      /* only on exit */
      animation-range: cover 25% cover 30%;
    }
  </style>
</article>
