---
import { t } from "~/shared/i18n/fn";
import { T } from "~/shared/i18n/types";
import Link from "~/shared/ui/link.astro";
import Titles from "./titles.astro";
const l = Astro.currentLocale;
---

<article class="flex flex-col w-full gap-10 mt-50">
  <Titles />

  <div class="flex flex-col gap-6 delayed-appearing mb-8">
    <p
      class="max-w-md balanced text-muted-foreground text-lg leading-relaxed"
      set:html={t(l, "summary")}
    />
  </div>

  <div
    class="flex gap-6 items-center delayed-appearing max-md:text-sm flex-wrap"
  >
    <Link href="#contact" variant="primary" size="lg">
      {t(l, T.lets_talk)}
    </Link>
    <Link href="#portafolio" variant="underline">
      {t(l, T.see_examples)}
    </Link>
  </div>
</article>
