---
import { t } from "~/i18n/translations/fn";
import { T } from "~/i18n/translations/types";
import Header from "./header/header.astro";
const l = Astro.currentLocale;
---

<article class="flex flex-col w-full gap-10 min-h-[50vh] sticky top-60 mt-50">
  <Header />

  <div class="flex flex-col gap-6 delayed-appearing mb-8">
    <p class="max-w-sm balanced" set:html={t(l, "summary")} />
  </div>

  <div class="flex gap-6 items-center delayed-appearing max-md:text-sm">
    <a
      href={"/contact"}
      target="_blank"
      rel="noopener noreferrer"
      class="bg-primary py-2 px-4 rounded-full cursor-crosshair hover:brightness-90 hover:scale-105 transition-all border-background border-2 hover:border-primary"
      >{t(l, T.want_to_see_my_proposal)}
    </a>
    <a
      href={"#how-it-works"}
      target="_blank"
      rel="noopener noreferrer"
      class="cursor-pointer hover:underline"
      >{t(l, T.how_it_works)}
    </a>
  </div>
</article>

<style>
  article {
    /* Create View Timeline */
    view-timeline-name: --revealing-image;
    view-timeline-axis: block;

    /* Attach animation, linked to the  View Timeline */
    animation: linear opacity-fade both;
    animation-timeline: --revealing-image;

    /* Tweak range when effect should run*/
    /* only on exit */
    animation-range: cover 8% cover 35%;
    @media screen and (min-width: 640px) {
      animation-range: cover 7% cover 25%;
    }
  }
</style>
