---
import { t } from "~/shared/i18n/fn";
import { T } from "~/shared/i18n/types";
import { ctaStyles } from "~/shared/ui/cta.astro";
import Titles from "./titles.astro";
const l = Astro.currentLocale;
---

<article class="flex flex-col w-full gap-10 min-h-[50vh] sticky top-60 mt-50">
  <Titles />

  <div class="flex flex-col gap-6 delayed-appearing mb-8">
    <p
      class="max-w-sm balanced text-muted-foreground"
      set:html={t(l, "summary")}
    />
  </div>

  <div class="flex gap-6 items-center delayed-appearing max-md:text-sm">
    <a target="_blank" rel="noopener noreferrer" class={ctaStyles}
      >{t(l, T.want_to_see_my_proposal)}
    </a>
    <a
      href={"#portafolio"}
      class="cursor-pointer underline hover:decoration-2 transition-all"
      >{t(l, T.see_examples)}
    </a>
  </div>
</article>

<style>
  article {
    /* Create View Timeline */
    view-timeline-name: --revealing-image;
    view-timeline-axis: block;

    /* Attach animation, linked to the  View Timeline */
    animation: linear opacity-fade both;
    animation-timeline: --revealing-image;

    /* Tweak range when effect should run*/
    /* only on exit */
    animation-range: cover 8% cover 35%;
    @media screen and (min-width: 640px) {
      animation-range: cover 15% cover 50%;
    }
  }
</style>
