---
import { getMetadata } from "~/lib/constants";

import EmailIcon from "../icons/EmailIcon.astro";
import GithubIcon from "../icons/GithubIcon.astro";
import LinkedinIcon from "../icons/LinkedinIcon.astro";
import SocialLink from "./SocialLink.astro";
const metadata = getMetadata(Astro.currentLocale ?? "en");
---

<div class="flex flex-wrap justify-center gap-2 md:justify-start">
  <SocialLink href={metadata.links.linkedin} label="Linkedin">
    <LinkedinIcon slot="icon" />
  </SocialLink>

  <SocialLink href={metadata.links.github} label="Github">
    <GithubIcon slot="icon" />
  </SocialLink>
  <SocialLink href={metadata.links.email} label="Email">
    <EmailIcon slot="icon" />
  </SocialLink>
</div>
