@import "tailwindcss";

:root {
  --card-height: 30vw;
  --card-margin: 4vw;
  --card-top-offset: 6em;
}

#sticked-cards {
  /* Make place at bottom, as items will slide to that position*/
  padding-bottom: calc(var(--numCards) * var(--card-top-offset));
  /* Don't include the --card-margin in padding, as that will affect the scroll-timeline*/
  margin-bottom: var(--card-margin);
}

#card_1 {
  --index: 1;
}

#card_2 {
  --index: 2;
}

#card_3 {
  --index: 3;
}

#card_4 {
  --index: 4;
 }

#cards {
  --numCards: 4;
  view-timeline-name: --cards-scroll;
}
.card {
  position: sticky;
  top: 5dvh;
  padding-top: calc(var(--index) * var(--card-top-offset));
}

#sticked-cards {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(var(--numCards), var(--card-height));
  gap: var(--card-margin);
}



.card:nth-child(odd) img {
  transform: 
  rotate(calc(var(--reverse-index0) * -1deg)) translateX(3vw);
}

.card:nth-child(even) img {
  transform: 
  rotate(calc(var(--reverse-index0) * 1deg)) translateX(-3vw);
}
/* last */
.card:nth-child(4) img {
  transform: rotate(0deg) translateX(0);
}

.card {
  --index0: calc(var(--index) - 1); /* 0-based index */
  --reverse-index: calc(var(--numCards) - var(--index0)); /* reverse index */
  --reverse-index0: calc(var(--reverse-index) - 1); /* 0-based reverse index */


  --start-range: calc(var(--index0) / var(--numCards) * 0%);
  --end-range: calc((var(--index)) / var(--numCards) * 150%);

  animation: scale;
  animation-timeline: --cards-scroll;
  animation-range: var(--start-range) var(--end-range);
  animation-fill-mode: forwards;
 
}

@keyframes scale {
  from {
    transform: scale(1)  
  }
  to {
    transform: scale(calc(1 - calc(0.1 * var(--reverse-index)))) rotate(0deg) translateX(0);
  }
}
 


 
.card img {
  aspect-ratio: 16 / 9;
  border-radius: 1em;
  width: 100%;
  object-fit: cover;
  object-position: top;
  overflow: hidden;
}