---
import codeSummary from "../../assets/media/summaries/summary-code.mp4";
import designSummary from "../../assets/media/summaries/summary-design.mp4";
import "./cards.css";
import StickyCard from "./sticky-card.astro";
---

<section id="cards" class="delayed-appearing">
  <div class="cards-container">
    <ul class="sticked-cards">
      <li class="card" id="card_1">
        <StickyCard
          title="Design that moves. Literally."
          category="design"
          src={designSummary}
        />
      </li>
      <li class="card" id="card_2">
        <StickyCard
          title="Code that's crafted. Not copied."
          category="code"
          src={codeSummary}
        />
      </li>
      <li class="card" id="card_3">
        <StickyCard
          title="Pixel-perfect by default"
          category="publish"
          src=""
        />
      </li>
      <li class="card" id="card_4">
        <StickyCard
          src=""
          title="No templates. Just performance."
          category="quality"
        />
      </li>
    </ul>
  </div>
</section>

<style>
  @keyframes fade-in {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }

  .cards-container {
    /* Create View Timeline */
    view-timeline-name: --revealing-images;
    view-timeline-axis: block;

    /* Attach animation, linked to the  View Timeline */
    animation: linear fade-in both;
    animation-timeline: --revealing-images;

    /* Tweak range when effect should run*/
    animation-range: normal 25%;
  }
</style>
