---
import MainLayout from "~/layouts/MainLayout.astro";

import Hero from "~/components/Layout/hero.astro";
import ProjectsList from "~/components/Projects/ProjectList/ProjectsList.astro";
import StickyImages from "~/components/sticky-images/sticky-images.astro";
import Ticket from "~/components/Ticket/Ticket.astro";
import { getProjects } from "~/lib/utils";
const firstProjects = getProjects(4);
---

<MainLayout>
  <main
    class="flex flex-col gap-20 items-center max-w-7xl px-6 xl:px-10 w-full"
  >
    <Hero />
    <StickyImages />

    <!-- <section class="flex flex-col items-center">
      <div class="max-w-7xl p-5 w-full">
        <Bento />
      </div>
    </section> -->

    <Ticket />

    <section class="flex flex-col items-center">
      <h2 class="my-10 gap-5 font-medium text-3xl">
        Discover our latest projects ⭐
      </h2>
      <ProjectsList projects={firstProjects} />
    </section>
  </main>
</MainLayout>
