---
import MainLayout from "~/layouts/MainLayout.astro";

import Hero from "~/components/Layout/hero.astro";
import ProjectsList from "~/components/Projects/ProjectList/ProjectsList.astro";
import StickyImages from "~/components/sticky-images/sticky-images.astro";
import Ticket from "~/components/Ticket/Ticket.astro";
import { getProjects } from "~/lib/utils";
const firstProjects = getProjects(6);
---

<MainLayout>
  <main
    class="flex flex-col gap-20 items-center max-w-7xl px-6 xl:px-10 w-full"
  >
    <Hero />
    <StickyImages />

    <Ticket />

    <ProjectsList projects={firstProjects} />
  </main>
</MainLayout>
