---
import BlogList from "../../components/blog/BlogList/BlogList.astro";
import MainLayout from "../../layouts/MainLayout.astro";
import { getBlogs } from "../../lib/utils";
---

<MainLayout>
	<h1
		class="mb-8 text-pretty text-center font-medium text-xl md:text-start md:font-semibold md:text-2xl"
	>
		Some thoughts written down ✏️
	</h1>
	<BlogList blogs={getBlogs()} />
</MainLayout>
