---

---

<header class="flex flex-col gap-4">
  <div class="overflow-hidden">
    <h1
      class="w-fit animate-slide-in-bottom text-pretty overflow-hidden text-4xl leading-[85%] md:text-5xl"
    >
      <span class="block">Tu web no debería parecer una plantilla</span>
    </h1>
  </div>
  <div class="overflow-hidden">
    <h2
      class="animate-slide-in-bottom overflow-hidden text-4xl font-black text-primary text-pretty"
    >
      Ni funcionar como tal
    </h2>
  </div>
</header>
