---
import { t } from "~/i18n/translations/fn";
const l = Astro.currentLocale;
---

<header class="flex flex-col gap-1">
  <h1 class="w-fit text-pretty text-4xl leading-[85%] md:text-5xl">
    <span class="block heading-1">{t(l, "title")}</span>
  </h1>

  <h2 class="text-4xl md:text-5xl font-black text-pretty">
    <span class="block heading-2">
      {t(l, "subtitle")}
    </span>
  </h2>
</header>

<style>
  @keyframes faded-in {
    from {
      opacity: 0;
      /* transform: translateY(-20px); */
      filter: blur(1px);
    }
    to {
      opacity: 1;
    }
  }

  .heading-1 {
    opacity: 0;
    animation: faded-in 0.8s ease-out;
    animation-delay: 0s;
    animation-fill-mode: forwards;
  }
  .heading-2 {
    opacity: 0;
    animation: faded-in 0.8s ease-out;
    animation-delay: 1s;
    animation-fill-mode: forwards;
  }
</style>
