---
type Props = {
  title: string;
  className?: string;
};
const { title, className }: Props = Astro.props;
---

<div class:list={["bento-item", "bg-background leading-tight", className]}>
  <h3 class="bento-title text-xl md:text-2xl font-bold">{title}</h3>
  <slot name="description" />
</div>

<style>
  .bento-item {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    /* box-shadow: -15px 15px 60px 0px rgba(0, 0, 0, 0.175); */
    border-radius: 1em;
    padding: min(8vw, 2rem);
    border: 1px solid rgba(0, 0, 0, 0.1);
  }
</style>
