<div class="leading-[1.8]">
  <p>
    Designed in Barcelona <span class="inline-flex translate-y-0.5"
      ><svg
        width="15"
        height="14"
        viewBox="0 0 15 14"
        fill="none"
        xmlns="http://www.w3.org/2000/svg"
        ><path
          fill-rule="evenodd"
          clip-rule="evenodd"
          d="M3.04724 0.133485C2.10165 0.394285 1.15407 1.14372 0.68857 1.99895C-0.140431 3.52207 0.100865 5.28976 1.31477 6.58754L1.69941 6.99876L1.31477 7.40998C-0.182373 9.01051 -0.170291 11.3255 1.34324 12.8469C2.85523 14.3669 5.1849 14.3823 6.78776 12.883L7.19898 12.4983L7.6102 12.883C8.40365 13.6252 9.29133 13.9899 10.2999 13.9881C11.3677 13.9862 12.1993 13.649 12.9852 12.8995C14.5668 11.3908 14.6087 9.04089 13.0832 7.40998L12.6986 6.99876L13.0832 6.58754C15.4582 4.0485 13.7518 0.0156852 10.2999 0.00947153C9.29133 0.00765922 8.40365 0.372364 7.6102 1.11455L7.19898 1.49919L6.78776 1.11455C5.75276 0.146344 4.34218 -0.223539 3.04724 0.133485ZM5.09921 1.74316C5.44234 1.90773 6.16338 2.59451 6.16338 2.75693C6.16338 2.7993 5.98542 2.8837 5.76803 2.94463C4.67306 3.25117 3.46787 4.46576 3.13665 5.59638C3.07762 5.79815 2.99572 5.96316 2.95464 5.96316C2.91365 5.96316 2.70964 5.80601 2.50131 5.61399C1.62139 4.80285 1.46329 3.58369 2.10657 2.56931C2.71542 1.60922 4.05074 1.24055 5.09921 1.74316ZM11.4022 1.78536C12.8661 2.4919 13.1232 4.48337 11.8967 5.61399C11.6883 5.80601 11.4843 5.96316 11.4433 5.96316C11.4022 5.96316 11.3203 5.79815 11.2613 5.59638C10.9301 4.46576 9.7249 3.25117 8.62992 2.94463C8.41253 2.8837 8.23458 2.7993 8.23458 2.75693C8.23458 2.71455 8.39148 2.50968 8.58324 2.30169C9.34069 1.47994 10.3763 1.29025 11.4022 1.78536ZM8.32088 4.45886C8.95183 4.75124 9.40922 5.20328 9.71187 5.83371C9.9177 6.26236 9.96042 6.46292 9.96042 6.99876C9.96042 7.5346 9.9177 7.73516 9.71187 8.16382C9.21936 9.18975 8.32287 9.75865 7.19898 9.75865C6.07509 9.75865 5.1786 9.18975 4.68609 8.16382C4.47992 7.73439 4.43763 7.53555 4.43832 6.99876C4.43961 5.87418 5.00859 4.97813 6.03393 4.48587C6.74236 4.14576 7.62289 4.13532 8.32088 4.45886ZM3.14485 8.42971C3.45139 9.52469 4.66598 10.7299 5.7966 11.0611C5.99837 11.1201 6.16338 11.202 6.16338 11.2431C6.16338 11.4128 5.43621 12.089 5.05908 12.27C4.45679 12.5589 3.66956 12.5447 3.033 12.2333C2.18778 11.8198 1.73177 11.0757 1.7284 10.1048C1.72607 9.40516 1.96029 8.88227 2.49794 8.38656C2.70817 8.1929 2.91477 8.03437 2.95715 8.03437C2.99952 8.03437 3.08392 8.21232 3.14485 8.42971ZM11.8967 8.38354C12.4258 8.87131 12.6646 9.40559 12.6663 10.1056C12.6686 11.0728 12.2124 11.8186 11.365 12.2333C10.7284 12.5447 9.94117 12.5589 9.33888 12.27C8.96175 12.089 8.23458 11.4128 8.23458 11.2431C8.23458 11.202 8.39959 11.1193 8.60136 11.059C9.73897 10.7195 10.925 9.53383 11.2602 8.40114C11.3199 8.19937 11.4022 8.03437 11.4433 8.03437C11.4843 8.03437 11.6883 8.19152 11.8967 8.38354Z"
          fill="currentColor"></path></svg
      ></span
    > for a global audience.
  </p>
  <div>
    Drop us a line at <div
      class="inline-flex translate-y-0.5 cursor-pointer items-center hover:text-[#232323]/80"
    >
      <div class="relative flex h-4 w-4 items-center justify-center">
        <svg
          width="16"
          height="16"
          viewBox="0 0 16 16"
          fill="none"
          xmlns="http://www.w3.org/2000/svg"
          class="absolute transition-all duration-150 scale-50 opacity-0"
        >
          <path
            fill-rule="evenodd"
            clip-rule="evenodd"
            d="M8.00004 1.33337C4.31814 1.33337 1.33337 4.31814 1.33337 8.00004C1.33337 11.6819 4.31814 14.6667 8.00004 14.6667C11.6819 14.6667 14.6667 11.6819 14.6667 8.00004C14.6667 4.31814 11.6819 1.33337 8.00004 1.33337ZM10.516 6.75555C10.7492 6.47059 10.7072 6.05057 10.4222 5.81742C10.1372 5.58427 9.71722 5.62627 9.48407 5.91124L6.95055 9.00776L6.13811 8.19532C5.87776 7.93497 5.45565 7.93497 5.1953 8.19532C4.93495 8.45567 4.93495 8.87778 5.1953 9.13813L6.52864 10.4715C6.66182 10.6047 6.84513 10.6753 7.03325 10.6659C7.22137 10.6565 7.39674 10.568 7.51601 10.4222L10.516 6.75555Z"
            fill="#006AFF"></path></svg
        ><svg
          width="16"
          height="16"
          viewBox="0 0 16 16"
          fill="none"
          xmlns="http://www.w3.org/2000/svg"
          class="transition-color absolute duration-150 opacity-100"
          ><path
            d="M10 6V3.5C10 2.67157 9.32843 2 8.5 2H3.5C2.67157 2 2 2.67157 2 3.5V8.5C2 9.32843 2.67157 10 3.5 10H6M7.5 6H12.5C13.3284 6 14 6.67157 14 7.5V12.5C14 13.3284 13.3284 14 12.5 14H7.5C6.67157 14 6 13.3284 6 12.5V7.5C6 6.67157 6.67157 6 7.5 6Z"
            stroke="currentColor"
            stroke-width="1.5"
            stroke-linecap="round"
            stroke-linejoin="round"></path></svg
        >
      </div><span class="transition-color ml-1 duration-150 text-inherit"
        >hey@tactil.studio</span
      >
    </div>.
  </div>
  <p>© tactil 2025</p>
</div>
