---
import { getMetadata } from "~/lib/constants";

const l = Astro.currentLocale;
---

<footer
  class="min-h-[90dvh] bg-primary w-dvw rounded-t-[10vw] mt-20 z-50 flex justify-center pb-20"
>
  <div
    class="max-w-7xl px-6 xl:px-10 w-full mx-auto flex flex-col justify-end gap-4"
  >
    <div class="grid md:grid-cols-2 gap-4 items-end">
      <div class="flex flex-col gap-2">
        <span class="text-2xl md:text-5xl">hey@tactil.studio</span>
        <p>© tactil 2025</p>
      </div>
      <div class="flex md:justify-end">
        <a
          href={getMetadata(l).getInTouchLink}
          target="_blank"
          rel="noopener noreferrer"
          class="bg-primary-900 flex justify-between items-center text-white py-2 px-4 rounded-full cursor-crosshair hover:brightness-90 hover:scale-105 transition-all border-transparent border-2 hover:border-primary"
          >Get in touch</a
        >
      </div>
    </div>
  </div>
</footer>

<style>
  footer::selection {
    background-color: black;
    color: var(--color-primary);
  }
</style>
