---
import type { BlogMetadata } from "../../../lib/utils";
import BlogLink from "../../BlogLink.astro";

type Props = {
  blogs: BlogMetadata[];
};
function formatDate(d: Date) {
  const fullDate = d.toLocaleString("en-us", {
    month: "long",
    day: "numeric",
    year: "numeric",
  });

  return fullDate;
}

const pubAt = (d: Date) => {
  const date = new Date(d);
  return formatDate(date);
};

const { blogs } = Astro.props;
---

<ul class="flex flex-col justify-center gap-4">
  {
    blogs.map((post) => (
      <li class=" project-cascade">
        <BlogLink slug={`/blog/${post.id}`} name={post.data.title}>
          {pubAt(post.data.publishedAt)}
        </BlogLink>
      </li>
    ))
  }
</ul>
